fastapi
uvicorn
sqlalchemy
pydantic
langchain 
sentence-transformers
chromadb
transformers
python-multipart
reportlab
pytest
spacy
faiss-cpu
openai
pandas 
streamlit
python-dotenv
langchain-openai
langchain-chroma
pytest-asyncio
numpy

